@model DuLichProject.Models.User
@{
    ViewBag.Title = "LogIn";
    //Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<link href="~/Content/LoginJS/LogInCss.css" rel="stylesheet" />
<script src="~/Content/LoginJS/js/prefixfree.min.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <form action="LogIn" class="form-horizontal" role="form" method="post">
            <div class="body"></div>
            <div class="grad"></div>
            <div class="header">
                <div>Đăng nhập</div>
            </div>
            <br>
            
            <div class="login">                
                @Html.TextBoxFor(model => model.username)<br/>
                @Html.PasswordFor(model => model.password)<br/><hr/>
                @Html.ValidationMessageFor(model => model.username)<br/>
                @Html.ValidationMessageFor(model => model.password)<hr/>
                <input type="submit" class="btn btn-default" value="Đăng nhập">
                    <a style="color: white; font-size: 20px;" class="btn btn-success" href="http://localhost:60785/TrangHome/TrangChu"><b>Trở về trang chủ</b></a><br/>
                <a style="color: tomato" href="http://localhost:60785/user/Register"><b>Đăng kí nếu chưa có tài khoản</b></a>
                
            </div>
            <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
            @*<table style="margin: auto; border-collapse: separate; border-spacing: 10px;" >
                <tr class="spaceUnder">
                    <td><b>Tên đăng nhập</b></td>
                    <td>
                        <div class="col-sm-8">
                            
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Mật khẩu</b></td>
                    <td>
                        <div class="col-sm-8">
                            

                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr >
                    <td></td>
                    <td align="center"><button type="submit" class="btn btn-default">Đăng nhập</button></td>
                </tr>
                
            </table>*@
            @*<div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label" style="color:blue">Tên đăng nhập:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.username)
                    @Html.ValidationMessageFor(model => model.username)
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label" style="color:blue">Mật khẩu</label>
                <div class="col-sm-8">
                    @Html.PasswordFor(model => model.password)
                    @Html.ValidationMessageFor(model => model.password)
                </div>
            </div>*@

            @*<div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-default">Đăng nhập</button>
                </div>
            </div>*@
        </form>
    </fieldset>
}
